/*Footer*/
#footer {
    background: #212529;
}

#footer a{
    color: white;
    text-decoration: none;
}
/*Header*/
#header img{
    width: 80px;
}

.text-buy{
    color: #F89D30 !important;
}

/*Main*/
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.btn-buy-tickets{
    background-color:rgb(248, 155, 43);
}

.btn-buy-tickets:hover{
    background-color: rgba(248, 155, 43, 0.5);
    color: white;
}

#main-text{
    font-size: 1.5rem;
}

/*Place & Time*/
#place-time {
    background-color: #212529;
    color: white;
}

#place-time img {
    max-width: 100%;
}

#place-time-text {
    font-size: 20px;
}